{#
/**
 * Created by Stefan on 11/02/2018.
 */
#}

<section class="contact">
  <div class="row">

    <h2 class="heading-secondary">
      Contact
    </h2>

    <div class="contact__box">

      <div class="contact__image-box">
        <img src="{{ base_path ~ directory }}/images/mabel-frank.jpg" class="contact__image">
      </div>

      <div class="contact__content">
        <p>Mabel Teunissen</p>
        <p>VOF LEBAM</p>
        <p>Wintershovenstraat 10 <br>3722 Wintershoven <br>Belgïe</p>
        <p>BTW 0844 369 558</p>
        <p>Bank: KBC BE03 7390 1136 7084</p>
        <p>+32 474979383</p>
      </div>

    </div>

  </div>
  {#end row#}
</section>