{#
/**
 * Created by Stefan on 12/02/2018.
 */
#}

<footer class="footer">
  <div class="row">
    <div class="footer__copy">

        &copy; {{ "now"|date("Y") }} | Mabel Teunissen | VOF LEBAM | BTW 0844 369 558 | Bank: KBC BE03 7390 1136
        7084
  <br/><br/>
        Met dank aan agentuur Evida voor de kleding van de schitterende collectie GAIA life.


    </div>
  </div>
</footer>