{#
/**
 * Created by Stefan on 11/02/2018.
 */
#}

<nav class="navigation">
  <div class="row">

    <div class="navigation__no-mobile">
        {{ page.navigation }}
    </div>

    <div class="navigation__mobile">

      <div class="navigation__mobile__box">
        {#<input type="checkbox" class="navigation__checkbox" id="navi-toggle">#}

        <div class="navigation__button" id="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </div>
      </div>

    </div>
  </div>
</nav>