{#
/**
 * Created by Stefan on 11/02/2018.
 */
#}

<nav class="navigation">
  <div class="row">
    <div class="navigation__no-mobile">
        {{ page.navigation }}
    </div>
  </div>
</nav>