// /////////////////////////
// @@ VARIABLES
// ////////////////////////

// COLORS

$color-gold: #ad9250; // aztec gold
$color-gray: #666766; // granite gray
$color-black: #02111b; // rich black
$color-white: #FCFAFA; // snow

$color-red: #D81E5B;
$color-green: #61988E;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical--small: 6rem;
$gutter-horizontal: 5rem;



