// ///////////////////////
// @@ ++ BUTTONS
// ///////////////////////

.btn {
  &:link,
  &:visited {
    padding: 1.2rem 4rem;
    border: none;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);

    @include respond(small-phone) {
      padding: 1rem 1rem;
    }

    &:hover {
      color: $color-white;
      box-shadow: 0 1rem 4rem rgba($color-black, .15);
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    }
  }
}

.btn--gold {
  background: $color-gold;
}

// the easy way
.webform-button--submit {
  padding: 1.2rem 4rem;
  border: none;
  color: $color-white;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 1rem 2rem rgba($color-black, .15);
}